@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 2rem;
}

.body--clear{
    background-image: 
    linear-gradient(
        150deg,
        #d1d1de 0%,
        #3d81da 60%
    );
}

.body--night{
    background-image: 
    linear-gradient(
        150deg,
        #313131 0%,
        #5e6c7d 60%
    );
}

.body--rain{
    background-image: 
    linear-gradient(
        150deg,
        #828181 0%,
        #6c6b6b 10%,
        #343a42 50%
    );
}

.body--clouds{
    background-image: 
    linear-gradient(
        150deg,
        #d1d1de 0%,
        #4f5763 60%
    );
}

main {
    /*visibility: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

img {
    height: 100px;
    width: auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.search-bar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.search-bar__input{
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem 0 0 1.5rem;
    border: none;
    padding: 0 1rem;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__icon{
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    transition: background-color 0.5s ease;
}

.search-bar__icon:hover{
    background-color: rgb(246, 246, 138);
}

.header__icon {
    height: 3.5rem;
    width: auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.info__image{
    height: 8rem;
    margin-top: 30px;
}

.info__temperature{
    font-size: 5rem;
    font-weight: 300;
}

.info__condition{
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.info-extra{
    color: white;
    display: flex;
}

.info-extra img {
    height: 2.2rem;
    width: auto;
    margin-right: 10px;
    padding: 0;
}

.info-conditions{
    min-width: 150px;
    font-size: 1.1rem;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.info-conditions-icon{
    margin-top: 6px;
}

.info-conditions__stat{
    font-size: 1.3rem;
    font-weight: bold;
}

.info-conditions__text{
    opacity: .7 ;
}


